body{
    font-family:Lato;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;

}
h1{
 margin-top:2vh;
 margin-bottom: 1vh;
 font-family: Montserrat

}


nav{
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}
.ancre a{
   
    color: white;
    text-decoration: none;
}
.ancre{
    display: flex;
    gap:2vw;
    font-weight: bold;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #DC3545;
    margin: 0;
    padding: 0;
}
.mainlogo{
    height: 30vh;
    width: 20vw;
    margin-top: 10vh;
    margin-bottom: 0;
    padding-bottom: 0;
}
.renom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8vh;
    
}
.h1{
    margin-top: 3vh;
    margin: 0;  
    padding: 0;
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
}
.p-titre{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.563rem;
    font-weight: bold;
}
.images{
    padding-left: 25vw;
    padding-right: 20vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 7vh;
}
.images img{
  
    height: 15vh;
    width: 15vw;
    border-radius: 10px;
   
    
}
h2{
    margin-bottom: 0;
    font-family: Montserrat
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #DC3545;
    flex-direction: column;
    color: white;
}
#about h1{
    padding-top: 4vh;
    padding-bottom: 2vh;
    font-size: 2vw;
}
.container-text{
    display: flex;
    flex-direction: row;
    gap:0px;
    justify-content: center;
    text-align: start;
    align-items: center;
    padding-bottom: 10vh;
}
.text{
    padding-left: 2vw;
    padding-right: 2vw;
    width: 20vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    line-height: 1.5;

}