nav{
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}
.ancre a{
   
    color: white;
    text-decoration: none;
}
.ancre{
    display: flex;
    gap:2vw;
    font-weight: bold;
}